
</div>
</div>

</div>
<footer class="footer bg-light text-center py-3">
  
</footer>

<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/sidebarmenu.js"></script>
<script src="/js/app.min.js"></script>
<script src="/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="/libs/simplebar/dist/simplebar.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/user.js"></script>
</body>

</html>