<%-include('header')%>
<style>
  .imgage {
      display:ruby;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      height: 10vh; /* Full height for proper centering */
      margin: 0;
      padding-top: 20rem;
      background-color: #ffffff;
  }

  img {
      max-width: 80%; /* Responsive image */
      height: auto; /* Maintain aspect ratio */
  }
</style>
<div class="container-fluid">
<div class="imgage">
<img src="/images/clear logo kt.png" alt="Centered Image" />
</div>
</div>
<%-include('footer')%>