<html lang="en"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Qaderi Kabul Time</title>
  <link rel="stylesheet" href="/css/styles.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link href="/images/logos/Qkt.png" rel="icon">
  <link href="assets/images/logos/Qaderi kabul Time.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
  
  <body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
          <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-6 col-xxl-3">
              <div class="card mb-0">
                <div class="card-body">
                  <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                    <img src="/images/logos/dark-logo.svg" width="180" alt="" />
                  </a>
                  <p class="text-center">Your Social Campaigns</p>
                  <form method="post" action="/newuser">
                    <div class="mb-3">
                      <label for="tuser" class="form-label">Email</label>
                      <input type="email" class="form-control" id="tuser" name="tuser" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-4">
                      <label for="tpassword" class="form-label">Password</label>
                      <input type="password" class="form-control" name="tpassword" id="tpassword">
                    </div>
                    <div class="mb-4">
                        <label for="radio" class="form-label">
                            <input type="radio" id="radio" name="radio" value="Admin">
                            Admin
                        </label>
                        <label for="radio" class="form-label">
                            <input type="radio" id="radio" name="radio" value="User">
                            User
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</button>
                    <div class="d-flex align-items-center justify-content-center">
                      <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                      <a class="text-primary fw-bold ms-2" href="/login">Sign In</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/user.js"></script>
  
  
  </body></html>